--Tạo QLSV
CREATE DATABASE QLSV
--Sử dụng CSDL
USE QLSV
--Xóa CSDL
DROP DATABASE QLSV
--Tạo bảng CTDT
CREATE TABLE CT_DaoTao
(
MaCTDT varchar (10) NOT NULL,
TenCTDT nvarchar (50)
)
CREATE TABLE KhoaHoc
(
MaKH varchar (10)not null,
MaCTDT varchar (10)not null,
TenKH nvarchar (50)
)
CREATE TABLE Lop
(
MaLop varchar (10)not null,
MaKH varchar (10)not null,
TenLop nvarchar (50)
)
CREATE TABLE MONHOC
(
MaMH varchar (10)not null,
TenMH nvarchar (50)
)
CREATE TABLE Sinhvien
(
MaSV varchar (10)not null,
Hoten nvarchar (50)not null,
GioiTinh nvarchar (3) not null,
NgaySinh datetime,
NoiSinh nvarchar (50) not null,
MaLop varchar (10) not null
)
CREATE TABLE KQT
(
MaSV varchar (10)not null,
MaMH varchar (10)not null,
LanThi int not null,
DiemThi float
)
SELECT *
FROM CT_DaoTao
SELECT *
FROM KhoaHoc
SELECT *
FROM Lop
SELECT *
FROM MONHOC
SELECT *
FROM Sinhvien
SELECT *
FROM KQT
ALTER TABLE CT_DaoTao ADD CONSTRAINT PK_CT_DaoTao PRIMARY KEY (MaCTDT)
ALTER TABLE KhoaHoc ADD CONSTRAINT PK_KhoaHoc PRIMARY KEY (MaKH)
ALTER TABLE Lop ADD CONSTRAINT PK_Lop PRIMARY KEY (MaLop)
ALTER TABLE MONHOC ADD CONSTRAINT PK_MONHOC PRIMARY KEY (MaMH)
ALTER TABLE KQT ADD CONSTRAINT PK_KQT PRIMARY KEY (MaSV, MaMH, LanThi)
ALTER TABLE Sinhvien ADD CONSTRAINT PK_Sinhvien PRIMARY KEY (MaSV)
SP_PKEYS CT_DAOTAO
SP_PKEYS KhoaHoc
SP_PKEYS Lop
SP_PKEYS MONHOC
SP_PKEYS Sinhvien
SP_PKEYS KQT
ALTER TABLE KhoaHoc ADD CONSTRAINT FK_KH_MaCTDT FOREIGN KEY (MaCTDT) REFERENCES CT_DaoTao(MaCTDT)
ALTER TABLE Lop ADD CONSTRAINT FK_Lop_MaKH FOREIGN KEY (MaKH) REFERENCES KhoaHoc(MaKH)
ALTER TABLE Sinhvien ADD CONSTRAINT FK_SinhVien_MaLop FOREIGN KEY (MaLop)REFERENCES Lop(MaLop)
ALTER TABLE KQT ADD CONSTRAINT FK_KQT_MaMH FOREIGN KEY (MaMH) REFERENCES MONHOC(MaMH)
ALTER TABLE KQT ADD CONSTRAINT FK_KQT_MaSV FOREIGN KEY (MaSV)REFERENCES Sinhvien(MaSV)
--THEM DU LIEU BANG MON HOC--
INSERT INTO CT_DaoTao VALUES ('1',N'CỬ NHÂN')
INSERT INTO CT_DaoTao VALUES ('2',N'CAO ĐẲNG')
INSERT INTO CT_DaoTao VALUES ('3',N'ĐẠI HỌC')

INSERT INTO MONHOC VALUES ('TH101',N'TIN HOC ĐẠI CƯƠNG')
INSERT INTO MONHOC VALUES ('TH110',N'TOÁN RỜI RẠC')
INSERT INTO MONHOC VALUES ('TH102',N'CƠ SỞ DỮ LIỆU')

INSERT INTO KhoaHoc VALUES ('1','1',N'KHÓA 1 NĂM 2005')
INSERT INTO KhoaHoc VALUES ('2','1',N'KHÓA 2 NĂM 2006')
INSERT INTO KhoaHoc VALUES ('3','2',N'KHÓA 1 NĂM 2007')

INSERT INTO Lop VALUES ('1','1','K1_1')
INSERT INTO Lop VALUES ('2','1','K2_1')
INSERT INTO Lop VALUES ('3','1','K3_1')

INSERT INTO Sinhvien VALUES ('K116',N'ĐINH NGUYỄN VÂN ANH',N'NỮ','12/18/1985',N'BÌNH THUẬN','1')
INSERT INTO Sinhvien VALUES ('K117',N'TRẦN HOÀNG ANH',N'NỮ','08/04/1986',N'BÌNH DƯƠNG','1')
INSERT INTO Sinhvien VALUES ('K118',N'BÙI THANH BÌNH',N'NAM','10/23/1985',N'ĐỒNG NAI','1')

INSERT INTO KQT VALUES ('K116','TH101','1','8')
INSERT INTO KQT VALUES ('K117','TH101','1','4')
INSERT INTO KQT VALUES ('K118','TH101','1','6.5')




